@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #f2f2f2;
  color: #333333;
  height: 100vh;
}

.page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  width: 1200px;
  background-color: #ffffff;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  color: #000000;
  width: 1060px;
  margin: 0 auto;
  position: relative;
}

.logo-link {
  position: absolute;
  z-index: 10;
}

.navigation {
  padding-left: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.navigation-list {
  padding-top: 20px;
  padding-left: 115px;
  margin: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 35px;
  max-width: 552px;
}

.navigation-user {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  padding-top: 15px;
  width: 300px;
  justify-content: flex-end;
}

.navigation-item {
  position: relative;
}

.navigation-user-item {
  margin-left: 33px;
}

.navigation-button {
  background: #756257;
  border-radius: 4px;
  color: #ffffff;
  text-decoration: none;
  display: block;
  padding: 7px 10px;
  min-width: 160px;
  box-sizing: border-box;
}

.navigation-button:hover {
  background: #615048;
}

.navigation-button:focus {
  outline: 3px solid #83b3d3;
  outline-offset: 0;
  background: #615048;
}

.navigation-button:active {
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  color: #000000;
  display: block;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-link--active {
  padding-bottom: 17px;
  border-bottom: 2px solid #756257;
}

.navigation-link--searh {
  display: block;
  width: 20px;
  height: 19px;
  padding-top: 8px;
  margin-right: -11px;
}

.search-svg {
  display: block;
  width: 20px;
  height: 19px;
  fill: #000000;
}

.navigation-link--searh:hover .search-svg {
  fill: #756257;
}

.navigation-link--searh:active .search-svg {
  fill: rgba(117, 98, 87, 0.3);
}

.navigation-link--favorites {
  padding-top: 10px;
  display: block;
  position: relative;
}

.favorite-svg {
  display: block;
  width: 18px;
  height: 17px;
  fill: #000000;
}

.navigation-link--favorites:hover .favorite-svg {
  fill: #756257;
}

.navigation-link--favorites:active .favorite-svg {
  fill: rgba(117, 98, 87, 0.3);
}

.favorite-count {
  width: 20px;
  height: 20px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background: #7db54f;
  border-radius: 50%;
  right: -15px;
  top: -1px;
  font-size: 10px;
  font-weight: 400;
}

.navigation-link--favorites:active .favorite-count {
  color: rgba(255, 255, 255, 0.3);
}

.main-index {
  background-color: #ffebcd;
  color: #000000;
  width: 1200px;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

.welcome {
  background-image: url("../images/background-index.jpg");
  background-repeat: no-repeat;
  margin: 0;
  padding-top: 48px;
  width: 1200px;
  padding-bottom: 81px;
  position: relative;
  background-color: #17405c;
}

.welcome::after {
  content: "";
  width: 1220px;
  height: 57px;
  background: url("../images/svg/triangle.svg") no-repeat top left;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
}

.welcome-image-container {
  width: 533px;
  margin: 0 auto;
  text-align: center;
}

.about {
  margin: 0;
  background-color: #ffffff;
  color: #000000;
  padding-top: 63px;
}

.about-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  width: 720px;
  text-align: center;
  margin: 0 auto;
}

.about-text {
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  padding-top: 30px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 81px;
}

.about-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.about-item {
  width: 33.3%;
  background: rgba(131, 179, 211, 0.12);
  min-height: 384px;
  padding-bottom: 80px;
  box-sizing: border-box;
}

.about-item--special {
  width: 100%;
  padding-bottom: 0;
}

.about-special-color {
  background-color: rgba(131, 179, 211, 0.2);
}

.about-item-container {
  display: flex;
  min-height: 384px;
  background-color: #83b3d3;
}

.about-item-container--second-rea {
  display: flex;
  min-height: 384px;
  background-color: #83b3d3;
}

.about-item-container::after {
  content: "";
  width: 800px;
  background: url("../images/sedona-town.jpg") no-repeat left top;
  background-size: cover;
  display: block;
}

.about-item-container--second-rea::before {
  content: "";
  width: 800px;
  background: url("../images/grand-canyon.jpg") no-repeat left top;
  background-size: cover;
}

.about-item-wrapper {
  width: 400px;
  color: #ffffff;
  padding-bottom: 80px;
}

.about-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 auto;
  width: 200px;
  text-align: center;
  padding-top: 98px;
}

.about-number {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  text-align: center;
  padding-top: 30px;
}

.about-description {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  text-align: center;
  padding-top: 28px;
  width: 220px;
  padding-left: 85px;
  padding-bottom: 2px;
}

.benefits-list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: flex;
  width: 1200px;
}

.benefits-item {
  background-color: rgba(131, 179, 211, 0.12);
  min-height: 384px;
  width: 400px;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 80px;
}

.benefits-burger--special {
  background-color: #ffffff;
}

.benefits-item--home::before {
  content: "";
  background: url("../images/svg/home-icon.svg") no-repeat;
  display: block;
  position: absolute;
  top: 88px;
  left: 163px;
  width: 75px;
  height: 72px;
}

.benefits-burger--special::before {
  content: "";
  background: url("../images/svg/burger-icon.svg") no-repeat center;
  display: block;
  position: absolute;
  top: 90px;
  left: 163px;
  width: 75px;
  height: 70px;
}

.benefits-icon-box::before {
  content: "";
  background: url("../images/svg/box-icon.svg") no-repeat;
  display: block;
  position: absolute;
  top: 84px;
  left: 169px;
  width: 75px;
  height: 76px;
}

.benefits-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  padding-top: 183px;
  text-align: center;
  margin: 0 auto;
}

.benefits-text {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: center;
  margin: 0 auto;
  padding-top: 19px;
  width: 230px;
}

.causes-div {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  width: 1200px;
}

/* Поиск*/
.search {
  background-color: #ffffff;
  padding-top: 90px;
  padding-bottom: 93px;
}

.search-title {
  margin: 0 auto 29px;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  width: 600px;
  text-align: center;
}

.search-text {
  margin: 0 auto 55px;
  font-size: 22px;
  line-height: 26px;
  padding: 0;
  text-align: center;
  width: 588px;
}

.search-button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  background: #756257;
  color: #ffffff;
  text-decoration: none;
  width: 575px;
  text-align: center;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  padding: 13px 15px 5px;
  box-sizing: border-box;
  border: 3px solid #756257;
}

.search-button:hover {
  background-color: #615048;
  border-color: #615048;
}

.search-button:focus {
  background-color: #615048;
  border-color: #83b3d3;
}
/*subscription*/

.page-footer {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 28px;
}

.subscription {
  background-image: url("../images/background-bloor.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #000000;
  color: #ffffff;
  padding-bottom: 95px;
}

.page-footer--inner .subscription {
  background: none;
  color: #000000;
  padding-bottom: 143px;
}

.subscription-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding-left: 398px;
  width: 720px;
  margin: 0;
  padding-top: 96px;
}

.page-footer--inner .subscription-title {
  padding-top: 73px;
}

.sabscription-text {
  font-size: 22px;
  line-height: 26px;
  width: 500px;
  text-align: center;
  padding-left: 350px;
  margin: 0;
  padding-top: 28px;
}

.page-footer--inner .sabscription-text {
  padding-top: 45px;
}

.subscription-form {
  width: 800px;
  margin: 0 auto;
  padding-top: 44px;
  display: flex;
}

.subscription-button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  background: #83b3d3;
  background-position: center;
  color: #ffffff;
  width: 200px;
  height: 60px;
  border-radius: 0 13px 13px 0;
  border: none;
}

.subscription-button:hover {
  background: #68A2CA;
}

.subscription-button:focus {
  background: #68A2CA;
  border: 3px solid #756257;
}

.subscription-button:active {
  background: #68A2CA;
  opacity: 0.3;
  border: none;
}


.subscription-email {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  background: #f2f2f2;
  color: #000000;
  width: 600px;
  height: 60px;
  border-radius: 13px 0 0 13px;
  padding: 1px 0 0 22px;
  box-sizing: border-box;
  border: none;
}

.subscription-email:hover {
  background-color: #e6e6e6;
}

.subscription-email:focus {
  border: 3px solid #83b3d3;
}

.footer-contakts {
  display: flex;
  flex-direction: row;
  margin-top: 23px;
}

.social-networks {
  width: 180px;
  margin-left: 63px;
  display: flex;
  margin-top: 16px;
  position: relative;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 39px;
  height: 39px;
  margin-right: 4px;
  border: 3px solid transparent;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 5px;
}

.social-twit-svg {
  width: 18px;
  height: 15px;
}

.social-fb-svg {
  width: 10px;
  height: 18px;
}

.social-yt-svg {
  width: 20px;
  height: 16px;
}

.social-link .social-svg {
  fill: #83b3d3;
}

.social-link:hover .social-svg {
  fill: #68a2ca;
}

.social-link:active {
  border-color: transparent;
}

.social-link:active .social-svg {
  opacity: 0.3;
}

.social-link:focus {
  border-color: #83b3d3;
  outline: none;
}

.social-link:focus .social-svg {
  fill: #68a2ca;
}

.contact-phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  margin-left: 177px;
  display: block;
  padding: 10px 12px 14px;
  border: 3px solid transparent;
  border-radius: 10px;
  margin-top: 6px;
}

.contact-phone:hover {
  color: #756257;
}

.contact-phone:focus {
  color: #756257;
  outline: none;
  border-color: #83b3d3;
}

.contact-phone:active {
  color: rgba(117, 98, 87, 0.3);
  border-color: transparent;
}

.academy-logo {
  margin-right: 50px;
  width: 115px;
  margin-left: auto;
  border: 3px solid transparent;
  padding: 17px 19px 10px 20px;
  border-radius: 10px;
}

.academy-logo-svg {
  fill: #000000;
}

.academy-logo:hover .academy-logo-svg {
  fill: #756257;
}

.academy-logo:focus {
  border-color: #83b3d3;
  outline: none;
}

.academy-logo:focus .academy-logo-svg {
  fill: #756257;
}

.academy-logo:active {
  border-color: transparent;
  opacity: 0.3;
}

.main-inner {
  width: 1200px;
  margin: 0 auto;
}

.catalog-hotels {
  background-image: url("../images/catalog-background.jpg");
  background-position: left top;
  background-color: #000000;
  color: #ffffff;
  width: 1200px;
  min-height: 408px;
  margin: 0;
}

.inner-title {
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
  margin: 0 auto;
  padding-top: 35px;
  padding-left: 70px;
  height: 106px;
  width: 100%;
  box-sizing: border-box;
}

.breadcrumbs-list {
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  display: flex;
  position: relative;
  padding: 0 0 0 66px;
}

.breadcrumbs-item {
  margin-right: 3px;
  position: relative;
  padding-right: 8px;
}

.breadcrumbs-item::after {
  content: "";
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  border-right: 2px solid rgba(255, 255, 255, 0.3);
  width: 4px;
  height: 4px;
  display: block;
  transform: rotate(-45deg);
  position: absolute;
  top: 9px;
  right: 0;
}

.breadcrumbs-item:last-child::after {
  display: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
  position: relative;
  padding: 0 5px 2px;
  border: 3px solid transparent;
  border-radius: 4px;
  display: inline-block;
  vertical-align: top;
}

.breadcrumbs-link--home {
  width: 27px;
  height: 27px;
  border: 3px solid transparent;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.breadcrumbs-link--home::after {
  content: "";
  background: url("../images/svg/index-page.svg") no-repeat 0 0;
  width: 13px;
  height: 12px;
  display: block;
  margin-top: -4px;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus {
  border-color: #83b3d3;
  outline: none;
}

.breadcrumbs-link:active {
  opacity: 0.3;
  border-color: transparent;
}

.filter-container {
  display: grid;
  grid-template-columns: 215px 207px 475px 164px;
  padding-top: 40px;
  padding-left: 70px;
}

.filter-group {
  border-style: none;
  margin: 0;
  padding: 0;
}

.filter--special {
  padding-left: 107px;
}

.filter--special-group {
  padding-top: 59px;
  text-align: center;
}

.filter-list {
  margin: 0;
  list-style: none;
  padding: 29px 0 0 0;
}

.filter-list--type {
  padding-left: 1px;
}

.filter-item {
  margin-bottom: 13px;
}

.checkbox-label {
  padding-left: 41px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding-top: 2px;
  cursor: pointer;
}

.checkbox-label::before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  background: url("../images/svg/checkbox.svg") no-repeat center center;
  position: absolute;
  top: 0;
  left: 0;
  border: 3px solid transparent;
  border-radius: 7px;
}

.checkbox-label::after {
  content: "";
  width: 4px;
  height: 9px;
  border-bottom: 3px solid #3f5e72;
  border-right: 3px solid #3f5e72;
  transform: rotate(45deg);
  position: absolute;
  left: 9px;
  top: 5px;
  display: none;
}

.checkbox-input:checked + .checkbox-label::after {
  display: block;
}

.checkbox-input:focus + .checkbox-label::before {
  border-color: #83b3d3;
}

.radio-label {
  padding-left: 42px;
  display: inline-block;
  vertical-align: top;
  position: relative;
  padding-top: 1px;
  cursor: pointer;
}

.radio-label::before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 50%;
  background: url("../images/svg/radio.svg") no-repeat center center;
  position: absolute;
  top: 0;
  left: 0;
  border: 3px solid transparent;
}

.radio-label::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 10px;
  position: absolute;
  left: 8px;
  top: 8px;
  display: none;
}

.radio-input:checked + .radio-label::after {
  display: block;
}

.radio-input:focus + .radio-label::before {
  border-color: #83b3d3;
}

.range-values-container {
  display: flex;
  width: 287px;
  height: 48px;
  margin-bottom: 20px;
  padding-top: 34px;
  position: relative;
}

.range-values-block {
  width: 50%;
  height: 100%;
  position: relative;
  padding-top: 2px;
}

.range-input {
  background: none;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  display: block;
  height: 100%;
  width: 50%;
  padding: 11px 50px 5px 17px;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
}

.range-input--min {
  border-radius: 4px 0 0 4px;
  border-right: none;
}

.range-input--max {
  border-radius: 0 4px 4px 0;
}

.range-input:hover {
  border-color: rgba(255, 255, 255, 0.6);
}

.range-input--min:hover ~ .range-input--max {
  border-left-color: rgba(255, 255, 255, 0.6);
}

.range-label {
  position: absolute;
  color: rgba(255, 255, 255, 0.3);
}

.range-input--min + .range-label {
  left: 113px;
  top: 48px;
}

.range-input--max + .range-label {
  right: 16px;
  top: 48px;
}

.range-input:focus {
  box-sizing: border-box;
  box-shadow: 0 0 0 3px #81b3d2;
  outline: 3px solid #81b3d2;
  outline-offset: -5px;
  border: 2px solid #ffffff;
}

.range-input--min:focus ~ .range-input--max {
  border-left-color: transparent;
}

.range-container {
  width: 287px;
  height: 20px;
  position: relative;
}

.range-scale {
  position: absolute;
  border-top: 4px solid rgba(255, 255, 255, 0.3);
  width: 100%;
  height: 1px;
  left: 0;
  top: 8px;
  z-index: 1;
}

.range {
  position: absolute;
  border-top: 4px solid #ffffff;
  width: 80%;
  height: 1px;
  left: 0;
  top: 8px;
  z-index: 2;
}

.range-handle {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  z-index: 3;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.range-handle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-handle:focus {
  outline: 3px solid #83b3d3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-handle--active {
  outline: 2px solid #83b3d3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}

.range-handle--min {
  left: 0;
}

.range-handle--max {
  left: 75%;
}

.button {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.green-button {
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: #7db54f;
  border-radius: 4px;
  width: 141px;
  height: 37px;
  border: none;
  outline: none;
  color: #ffffff;
  padding: 9px 0 10px 0;
  cursor: pointer;
}

.green-button:hover {
  background: #6c9e42;
  outline: none;
}

.green-button:focus {
  background: #6c9e42;
  outline: 3px solid #756257;
  outline-offset: 0;
}

.green-button:active {
  background: #6c9e42;
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}

.filter-legend {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  padding: 0;
  margin: 0;
}

.filter-button {
  font-family: "PT Sans", "Arial", sans-serif;
  background: #83b3d3;
  width: 160px;
  height: 48px;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  margin-bottom: 17px;
  cursor: pointer;
}

.filter-button:hover {
  background: #68a2ca;
}

.filter-button:focus {
  background: #68a2ca;
  outline: 3px solid #ffffff;
}

.filter-button:active {
  background: #68a2ca;
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}

.filter-button--special {
  font-family: "PT Sans", "Arial", sans-serif;
  background: none;
  color: #ffffff;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  padding: 1px 11px 2px;
  cursor: pointer;
  border: 3px solid transparent;
  box-sizing: border-box;
  border-radius: 4px;
  display: inline-block;
  vertical-align: top;
  margin: 0 auto;
}

.filter-button--special:hover {
  color: rgba(255, 255, 255, 0.6);
}

.filter-button--special:focus {
  border-color: #83b3d3;
  outline: none;
}

/* section choose hotels*/
.choise-hotel {
  background-color: #ffffff;
  color: #000000;
}

.choise-hotel-list {
  display: flex;
  margin: 0 auto;
  list-style: none;
  box-sizing: border-box;
  width: 1057px;
  padding: 44px 0 0;
}

.choise-hotel-item {
  display: block;
}

.hotel-item--select {
  width: 500px;
  display: block;
  margin-right: 20px;
  margin-left: 20px;
}

.select-choise {
  font-family: "PT Sans", "Arial", sans-serif;
  width: 287px;
  height: 46px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  padding-left: 14px;
  padding-bottom: 3px;
  appearance: none;
  background: #ffffff url("../images/svg/select-arrow.svg") no-repeat 252px 19px;
  border: 2px solid #e6e6e6;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}

.select-choise:hover {
  border-color: #83b3d3;
}

.select-choise:focus {
  border-color: #83b3d3;
  outline: none;
}

.select-choise:active {
  border-color: #e6e6e6;
  outline: none;
  color: rgba(51, 51, 51, 0.3);
}

.mode-list {
  width: 100%;
  display: flex;
  list-style: none;
  margin: 0;
  gap: 8px;
}

.mode-link {
  border: 2px solid #e6e6e6;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  width: 48px;
  height: 48px;
  background: none;
  cursor: pointer;
}

.mode-link::after {
  content: "";
  background-repeat: no-repeat;
  background-position: top left;
  background-size: cover;
  display: block;
  width: 16px;
  height: 14px;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.mode-link--tile::after {
  background-image: url("../images/svg/mode-tile.svg");
}

.mode-link--line::after {
  background-image: url("../images/svg/mode-slideshow.svg");
}

.mode-link--dots::after {
  background-image: url("../images/svg/mode-list.svg");
}

.mode-link:hover {
  border-color: #83b3d3;
}

.mode-link:focus {
  border-color: #83b3d3;
  outline: none;
}

.mode-link--active {
  border-color: #000000;
}

.search-result {
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  margin: 0 10px 0 0;
  padding-top: 4px;
  width: 499px;
}

.hotel-card-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto;
  padding: 52px 0 0;
  width: 1056px;
}

.hotel-card-item {
  width: 340px;
  padding: 20px;
  box-sizing: border-box;
}

.hotel-card-item:not(:nth-child(3n+3)) {
  margin-right: 18px;
}

.hotel-card-image-link {
  display: block;
}

.hotel-card-image-link:hover {
  opacity: 0.6;
}

.hotel-card-image-link:focus {
  outline: 3px solid #83b3d3;
  outline-offset: 0;
}

.hotel-card-image-link:active {
  outline: none;
  opacity: 0.3;
}

.hotel-card-description {
  display: flex;
  justify-content: space-between;
}

.hotel-card-image {
  display: block;
}

.hotel-card-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
  margin: 16px 0 0;
}

.hotel-card-paragraph {
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #333333;
  width: 141px;
  font-family: "PT Sans", "Arial", sans-serif;
  padding-top: 2px;
}

.search-result-number {
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #333333;
  width: 228px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.hotel-card-button {
  display: flex;
  justify-content: space-between;
}

.card-button {
  background: #756257;
  border-radius: 4px;
  width: 133px;
  height: 37px;
  text-decoration: none;
  color: #ffffff;
  padding: 9px 0 10px 0;
  box-sizing: border-box;
}

.card-button:hover {
  background: #615048;
}

.card-button:focus {
  background: #615048;
  outline: 3px solid #83b3d3;
  outline-offset: 0;
}

.card-button:active {
  background: #615048;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}

.blue-button {
  font-family: "PT Sans", "Arial", sans-serif;
  border-radius: 4px;
  width: 141px;
  height: 37px;
  border: none;
  outline: none;
  color: #ffffff;
  padding: 9px 0 10px 0;
  cursor: pointer;
  background-color: #83b3d3;
}

.blue-button:hover {
  background: #68a2ca;
}

.blue-button:focus {
  background: #68a2ca;
  outline: 3px solid #756257;
  outline-offset: 0;
}

.blue-button:active {
  background: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
  outline: none;
}


.hotel-card-rating {
  display: flex;
  margin: 16px 0 11px 0;
  justify-content: space-between;
}

.rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  background: #f2f2f2;
  border-radius: 4px;
  width: 160px;
  height: 37px;
  text-align: center;
  padding: 9px 0 10px 0;
  box-sizing: border-box;
  margin: 0;
}

.stars {
  width: 91px;
  height: 17px;
  margin: 0 50px 0 0;
  padding-top: 11px;
}

.stars::after {
  content: "";
  background: url("../images/svg/star.svg") space 0 0;
  height: 100%;
  display: block;
}

.four-stars {
  width: 29%;
}

.three-stars {
  width: 23%;
}

.two-stars {
  width: 15%;
}

/*ссылка "Загрузить ЕЩЕ"*/
.link-compartment {
  width: 1055px;
  height: 120px;
  padding: 0;
  position: relative;
  border: 1px solid #e6e6e6;
  margin-top: 22px;
  left: 71px;
  border-left: 0;
  border-right: 0;
}

.download-options {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: #83b3d3;
  color: #ffffff;
  width: 620px;
  border-radius: 4px;
  text-decoration: none;
  margin: 27px auto 0;
  display: block;
  text-align: center;
  padding: 18px 0 18px 0;
}

/*Пагинация*/
.pagination-section {
  margin: 0 auto;
  display: flex;
  width: 1056px;
  padding-top: 32px;
}

.pagination-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 670px;
  margin-top: -2px;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-link {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-decoration: none;
  color: #ffffff;
  display: flex;
  width: 55px;
  height: 55px;
  background-color: #83b3d3;
  color: #ffffff;
  border-radius: 4px;
  padding: 13px 22px;
  box-sizing: border-box;
  justify-content: center;
}

.pagination-link:hover {
  background: #68A2CA;
}

.pagination-link:focus {
  background: #68A2CA;
  outline: 3px solid #756257;
}

.pagination-link:active {
  background-color: #68A2CA;
  outline: none;
  color: rgba(255, 255, 255, 0.3);
}

.pagination-active{
  background-color: #f2f2f2;
  display: flex;
  width: 55px;
  height: 55px;
  color: #000000;
  border-radius: 4px;
  padding: 13px 22px;
  box-sizing: border-box;
  justify-content: center;
}

.pagination-link-disabled {
  text-decoration: none;
}


.select-control {
  font-family: "PT Sans", "Arial", sans-serif;
  width: 158px;
  height: 48px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  padding-left: 14px;
  padding-bottom: 0px;
  appearance: none;
  background: #ffffff url(../images/svg/select-arrow.svg) no-repeat 121px 19px;
  border: 2px solid #e6e6e6;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}

.modal-window {
  width: 715px;
  height: 561px;
  position: absolute;
  left: 50%;
  top: 50%;
  background: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  transform: translate(-50% -50%);
  padding: 63px 70px 20px 70px;
  box-sizing: border-box;
  display: none;
}

.modal-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.modal-label {
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  margin: 0;
  width: 143px;
  display: inline-block;
}

.modal-input {
  font-weight: 700;
  font-size: 1px;
  line-height: 40px;
  font-family: "PT Sans", "Arial", sans-serif;
  background: #f2f2f2;
  border-radius: 4px;
  width: 420px;
  height: 50px;
  border: none;
  padding-left: 23px;
  margin: 0;
  box-sizing: border-box;
}

.modal-input--container {
  width: 133px;
  height: 50px;
  display: flex;
}

.modal-input--short {
  font-family: "PT Sans", "Arial", sans-serif;
  width: 44px;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  background: #f2f2f2;
  border: none;
  box-sizing: border-box;
  padding-left: 17px;
  display: block;
}

.modal-input-button {
  display: block;
  width: 44px;
  border-style: none;
  background: #f2f2f2;
  position: relative;
}

.modal-input-button.minus::before {
  content: "";
  width: 1px;
  height: 13px;
  background: #000000;
  opacity: 0.3;
  transform: rotate(-90deg);
  display: block;
  position: absolute;
  left: 22px;
  top: 19px;
}

.modal-input-button.plus::before {
  content: "";
  width: 13px;
  height: 13px;
  background: #000000;
  opacity: 0.3;
  transform: rotate(-90deg);
  display: block;
  position: absolute;
  left: 22px;
  top: 19px;
}

.modal-error {
  font-weight: 400;
  font-size: 16px;
  color: #ff0000;
  margin: 0;
  line-height: 24px;
  margin-bottom: 16px;
}

.modal-message {
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  line-height: 24px;
  margin-bottom: 16px;
}

.visuai-frame {
  display: flex;
  margin-bottom: 59px;
}

.close-button {
  width: 53px;
  height: 53px;
  background: #f2f2f2;
  border-radius: 28px;
  border: none;
  position: absolute;
  left: 592px;
  top: 48px;
}

.close-button::after {
  content: "";
  background: url("../images/svg/cross.svg");
  display: block;
  width: 13px;
  height: 13px;
  left: 20px;
  top: 20px;
  position: absolute;
}

.modal-button {
  width: 575px;
  height: 60px;
  background: #83b3d3;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  text-transform: uppercase;
  margin-top: 39px;
  padding-left: 9px;
}

.info-container {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.info-link {
  display: flex;
  width: 25px;
  height: 25px;
  background: #83b3d3;
  border-radius: 50%;
  color: #ffffff;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  margin-left: -15px;
  margin-top: 10px;
}

.info-text {
  width: 256px;
  left: -129px;
  top: 50px;
  background: #333333;
  box-shadow: 0 15px 30px rgb(0 0 0 / 30%);
  border-radius: 10px;
  position: absolute;
  box-sizing: border-box;
  padding: 19px 18px 24px 22px;
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: none;
}

.info-text::before {
  content: "";
  background: #333333;
  width: 11px;
  height: 11px;
  position: absolute;
  display: block;
  left: 121px;
  top: -6px;
  transform: rotate(45deg);
}

.info-link:hover + .info-text {
  display: block;
}

.input-container {
  width: 420px;
}

.modal-form-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.short-container {
  width: 288px;
  display: flex;
  justify-content: space-between;
}

.short-container--child {
  width: 230px;
}

.short-container--child .modal-label {
  width: 50px;
}
