@font-face {
	font-family: "PT Sans";
	src: url("../fonts/ptsans-400.woff2") format("woff2");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	src: url("../fonts/ptsans-700.woff2") format("woff2");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

html {
	height: 100%;
}

body {
	margin: 0 auto;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 18px;
	line-height: 21px;
	background-color: #ffffff;
	color:#333333;
	height: 100vh;
}

.page {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden
}
/* Pages*/
.page-header {
	display: flex;
	flex-direction: row;
	background-color: #ffffff;
	color:black;
	width: 1060px;
	margin: 0 auto;
	position: relative;
}

.logo-link {
	position: absolute;
}

.navigation {
	padding-left: 70px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	box-sizing: border-box;
}

.navigation-list {
	padding-top: 20px;
	padding-left: 115px;
	margin: 0;
	list-style: none;
	display: grid;
	grid-template-columns: repeat(4, auto);
	gap: 35px;
}

.navigation-user {
	margin: 0;
	padding: 0;
	list-style: none;
	display:grid;
	grid-template-columns: repeat(3, auto);
	gap: 10px;
	padding-top: 15px;
}

.navigation-item {
	position: relative;
}

.navigation-button{ 
	background: #756257;
	border-radius: 4px;
	color:#ffffff;
	text-decoration: none;
	display: block;
	padding: 7px 10px;
	min-width: 160px;
	box-sizing: border-box;
}

.navigation-link {
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
	text-decoration: none;
	color: black;
	display: block;
	height: 26px;
}

.navigation-link--active {
	padding-bottom: 20px;
	border-bottom: 2px solid #756257;
}

.navigation-link--searh::after {
	content: "";
	display: block;
	position: absolute;
	background-image: url(../images/svg/search.svg);
	width: 18px;
	height: 18px;
	right: 55px;
	top: 8px;
}


.navigation-link--favorites::after {
	content: "";
	display: block;
	position: absolute;
	background-image: url(../images/svg/favorites.svg);
	width: 44px;
	height: 42px;
	right: 8px;
	top: -15px;
}

.main-index {
	background-color: blanchedalmond;
	color: black;
	width: 1200px;
	margin: 0 auto;
}

.main-container {
	flex-grow: 1;

}
.welcome {
	background-image: url("../images/background-index.jpg");
	background-repeat: no-repeat;
	margin: 0;
	padding-top: 48px;
	width: 1200px;
}

.welcome-image-container {     
	width: 533px;
	margin: 0 auto;
	text-align: center;
}

.about {
	margin: 0;
	padding-top: 143px;;
	background-color: #ffffff;
	color: #000000;
}

.about-title {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	width: 720px;
	text-align: center;
	margin: 0 auto;
}

.about-text {
	font-size: 22px;
	line-height: 36px;
	color: #333333;
	padding-top: 30px;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 81px;
}

.about-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.about-item {
	width: 33.3%;
	background: rgba(131, 179, 211, 0.12);
	min-height: 384px;
}

.about-item--special {
	width: 100%;
}

.about-special-color {
	background-color: #ffffff;
}


.about-item-container {
	display: flex;
	min-height: 384px;
	background-color: #83B3D3;
}

.about-item-container--second-rea {
	display: flex;
	min-height: 384px;
	background-color: #83B3D3;
}
.about-item-container::after {
	content: "";
	width: 800px;
	background: url("../images/sedona-town.jpg") no-repeat left top;
	background-size: cover;
	display: block;
}

.about-item-container--second-rea::before {
	content: "";
	width: 800px;
	background: url("../images/grand-canyon.jpg") no-repeat left top;
	background-size: cover;
}


.about-item-wrapper {
	width: 400px;
	color: #FFFFFF

}

.about-item-title {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	margin: 0 auto;
	width: 200px;
	text-align: center;
	padding-top: 95px;
}

.about-number {
	font-size: 18px;
	line-height: 21px; 
	margin: 0;
	text-align: center;
	padding-top: 30px;
}

.about-description {
	font-size: 18px;
	line-height: 21px;
	margin: 0;
	text-align: center;
	padding-top: 28px;
	width: 231px;
	padding-left: 85px;
	padding-bottom: 2px;
}

.benefits-list {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	display: flex;
	width: 1200px;
}

.benefits-item {
	background-color: rgba(131, 179, 211, 0.12);
	min-height: 384px;
	width: 400px;
	position: relative;
}

.benefits-burger--special {
	background-color: #ffffff;
}

.benefits-item--home::before {
	content: "";
	background: url("../images/svg/home-icon.svg") no-repeat;
  display: block;
	position: absolute;
  top: 88px;
  left: 163px;
	width: 75px;
	height: 72px;
}  

.benefits-burger--special::before {
	content: "";
	background: url("../images/svg/burger-icon.svg") no-repeat center;
  display: block;
	position: absolute;
	top: 90px;
  left: 163px;
	width: 75px;
	height: 70px;
}

.benefits-icon-box::before {
	content: "";
	background: url("../images/svg/box-icon.svg") no-repeat ;
  display: block;
	position: absolute;
  top: 84px;
  left: 169px;
	width: 75px;
	height: 76px;
}

.benefits-title {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
  padding-top: 183px;
  text-align: center;
  margin: 0 auto;
}

.benefits-text {
	font-size: 18px;
	line-height: 21px;
	color: #333333;
	text-align: center;
	margin: 0 auto;
	padding-top: 19px;
	width: 230px;
}

.causes-div {
	display: grid;
	grid-template-columns: 33% 33% 33%;
	width: 1200px;

}

/* Поиск*/
.search {
	background-color: #ffffff;
	padding-top: 88px;
	padding-bottom: 93px;
}

.search-title {
	margin: 0 auto 29px;
	padding: 0;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	color: #000000;
	width: 600px;
	text-align: center;
}

.search-text {
	margin: 0 auto 55px;
	font-size: 22px;
	line-height: 26px;
	padding: 0;
	text-align: center;
	width: 588px;
}

.search-button {
	font-weight: 700;
	font-size: 20px;
	line-height: 36px;
	text-transform: uppercase;
	background: #756257;
	color: #ffffff;
	text-decoration: none;
	width: 575px;
	text-align: center;
	display: block;
	margin: 0 auto;
	border-radius: 10px;
	padding: 15px 15px 5px;
	box-sizing: border-box;
	border: 3px solid #756257;
}   

.search-button:hover {
	background-color: #615048;
	border-color: #615048;
}

.search-button:focus {
	background-color: #615048;
	border-color: #83B3D3;
}
/*subscription*/

.page-footer {
	width: 1200px;
	height: 531px;
	margin: 0 auto;

}
.subscription {
	background-image: url("../images/background-bloor.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-color: #000000;
	color: #ffffff;
	padding-bottom: 95px;
}

.sabscription--background {
	background-image: none;
	background-color: #ffffff;
	color:#000000;
}

.subscription-title {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	padding-left: 398px;
	width: 720px;
	margin: 0%;
	padding-top: 72px;

}

.sabscription-text {
    font-size: 22px;
    line-height: 26px;
    width: 500px;
    text-align: center;
    padding-left: 350px;
    margin: 0;
    padding-top: 47px;
}

.subscription-form {
	width: 800px;
	margin: 0 auto;
	padding-top: 44px;
	display: flex;

}
.subscription-button {
	font-family: 'PT Sans';
	font-weight: 700;
	font-size: 20px;
	line-height: 26px;
	text-transform: uppercase;
	background: #83B3D3;
	background-position: center;
	color: #FFFFFF;
	width: 200px;
	height: 60px;
	border-radius: 0 13px 13px 0;
	border: none;
}

.subscription-email {
	font-family: 'PT Sans';
	font-size: 18px;
	line-height: 26px;
	background: #F2F2F2;
	color: #000000;
	width: 600px;
	height: 60px;
	border-radius: 13px 0 0 13px;
	padding: 1px 0 0 22px;
	box-sizing: border-box;
	border: none;
}

.subscription-email:hover {
	background-color: #615048;
}

.subscription-email:focus {
	outline: none;
}

.footer-contakts {
	display: flex;
	flex-direction: row;
	height: 120px;
	margin-top: 46px;
}

.social-networks {
	width: 180px;
	margin-left: 72px;
	display: flex;
	position: relative;
}

.social-twit::after {
	content: "";
	background-image: url(../images/svg/social-twitter.svg);
	position: absolute;
	width: 18px;
	height: 15px;
	top: 50px;
}

.social-face::after {
	content: "";
	background-image: url(../images/svg/social-facebook.svg);
	position: absolute;
	width: 10px;
	height: 18px;
	top: 50px;
	left: 47px;
}

.social-yout::after {
	content: "";
	background-image: url(../images/svg/social-youtube.svg);
	position: absolute;
	width: 20px;
	height: 16px;
	top: 50px;
	left: 87px;

}


.contact-phone {
	font-size: 40px;
	line-height: 40px;
	text-transform: uppercase;
	color: #000000;
	text-decoration: none;
	width: 720px;
	margin: 0 auto;
	padding-left: 219px;
	padding-top: 42px;
}

.academy-logo {
	margin-right: 72px;
	width: 115px;
}

.academy-logo-img {
	padding-top: 43px;
}
/* Page-inner*/


.main-inner {
	width: 1200px;
	margin: 0 auto;
}

.catalog-hotels {
	background-image: url("../images/catalog-background.jpg");
	background-position: left top;
	background-color: black;
	color: #FFFFFF;
	width: 1200px;
	min-height: 408px;
	margin: 0;
}

.inner-title {
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	line-height: 78px;
	color: #FFFFFF;
	margin: 0 auto;
	padding-top: 35px;
	padding-left: 70px;
    height: 106px;
	width: 100%;
	box-sizing: border-box;
}

.breadcrumbs-list {
	margin: 0;
	list-style: none;
	box-sizing: border-box;
	display: flex;
	position: relative;
	padding: 0 0 0 66px;
}

.breadcrumbs-item {
	margin-right: 3px;
	position: relative;
	padding-right: 8px;
}

.breadcrumbs-item::after {
	content: "";
	border-bottom: 2px solid rgba(255, 255, 255, 0.3);
	border-right: 2px solid rgba(255, 255, 255, 0.3);
  width: 4px;
  height: 4px;
  display: block;
  transform: rotate(-45deg);
  position: absolute;
  top: 9px;
  right: 0;
}

.breadcrumbs-item:last-child::after {
	display: none;
}

.breadcrumbs-link {
	font-size: 16px;
	line-height: 19px;
	position: relative;
	padding: 0px 5px 2px;
	border: 3px solid transparent;
	border-radius: 4px;
	display: inline-block;
	vertical-align: top;

}

.breadcrumbs-link--home {
	width: 27px;
	height: 27px;
	border: 3px solid transparent;
	box-sizing: border-box;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
}


.breadcrumbs-link--home::after {
	content: "";
	background: url("../images/svg/index-page.svg") no-repeat; 
	width: 13px;
	height: 12px;
	display: block;
  left: 0;
  top: 0;
}

.breadcrumbs-link:hover {
 opacity: 0.6;
}

.breadcrumbs-link:focus {
	border-color: #83B3D3;
	outline: none;
}

.breadcrumbs-link:active {
	opacity: 0.3;
	border-color: transparent;
}

.filter-container {
	display: grid;
	grid-template-columns: 220px 220px 459px 217px;
	padding-top: 40px;
	padding-left: 54px;
}

.filter-group {
	border-style: none;
	margin: 0;
	padding-left: 16px;
}

.filter--special{
	padding-left: 107px;

}

.filter--special-group {
	padding-top: 59px;
}

.filter-legend {
	font-weight: 700;
  font-size: 20px;
  line-height: 26px;
	padding: 0;
  margin: 0;
}

.filter-list {
	margin: 0;
	list-style: none;
	padding: 23px 0 0 0px;
}

.filter-list--type {
	padding-left: 1px;
}

.filter-item {
	padding-bottom: 14px;
}

.checkbox-label {
	padding-left: 41px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding-top: 2px;
	cursor: pointer;
}

.checkbox-label::before {
	content: "";
	width: 20px;
	height: 20px;
	display: block;
	background-color: #ffffff;
	position: absolute;
	top:0;
	left:0;
	border: 3px solid transparent;
	border-radius: 4px;
	
}

.checkbox-label::after {
	content: "";
	width: 5px;
	height: 10px;
	border-bottom: 3px solid #3F5E72;
	border-right: 3px solid #3F5E72;
	display: block;
	transform: rotate(45deg);
	position: absolute;
	left: 9px;
	top: 4px;
	display: none;
}


.checkbox-input:checked+.checkbox-label::after {
	display: block;
}

.checkbox-input:focus+.checkbox-label::before {
	border-color: #83B3D3;
}

.radio-label {
	padding-left: 39px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding-top: 1px;
	cursor: pointer;
}


.radio-label::before {
	content: "";
	width: 20px;
	height: 20px;
	display: block;
	border-radius: 10px;
	background-color: #ffffff;
	position: absolute;
	top:0;
	left:0;
	border: 3px solid transparent;
}

.radio-label::after {
	content: "";
	width: 10px;
	height: 10px;
	background-color:#3F5E72;
	display: block;
	border-radius: 10px;
	position: absolute;
	left: 5px;
	top: 5px;
	display: none;
}

.radio-input:checked+.radio-label::after {
	display: block;
}

.radio-input:focus+.radio-label::before {
	border-color: #83B3D3;
}

.range-values-container {
	display: flex;
	width: 287px;
	height: 48px;
	margin-bottom: 20px;
	padding-top: 28px;
}

.range-values-block {
	width: 50%;
	height: 100%;
	position: relative;
	padding-top: 2px;
}

.range-input {
	background: none;
	border: 2px solid #ffffff;
	box-sizing: border-box;
	display: block;
	height: 100%;
	width: 100%;
	padding: 5px 50px 5px 14px;
	font-size: 18px;
	line-height: 23px;
	color: #FFFFFF;
}

.range-input--min {
	border-radius: 4px 0 0 4px;
	border-right: none;
}

.range-input--max {
	border-radius: 0 4px 4px 0;
}

.range-label {
	position: absolute;
	right: 17px;
	top: 13px;
	color: rgba(255, 255, 255, 0.3);
}

.range-container {
	width: 287px;
	height: 20px;
	position: relative;
}

.range-scale {
	position: absolute;
	border-top: 4px solid rgba(255, 255, 255, 0.3);
	width: 100%;
	height: 1px;
	left: 0;
	top: 8px;
	z-index: 1;
}
	
.range {
	position: absolute;
	border-top: 4px solid #ffffff;
	width: 80%;
	height: 1px;
	left: 0;
	top: 8px;
	z-index: 2;
}

.range-handle {
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0px;
	z-index: 3;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}

.range-handle--min {
	left: 0;
}

.range-handle--max {
	left: 75%;
}

.button {
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;
	text-align: center;
	text-transform: uppercase;
}

.blue-button {
	background-color:#83B3D3;
}

.green-button {
	font-family: 'PT Sans';
	background-color: #7DB54F;
	border-radius: 4px;
  width: 141px;
  height: 37px;
  border: none;
  outline: none;
  color: #ffffff;
  padding: 9px 0px 10px 0px;
  cursor: pointer;
}

.filter-legend {
	font-weight: 700;
  font-size: 20px;
  line-height: 26px;
	padding: 0;
  margin: 0;
}

.filter-button {
	font-family: 'PT Sans';
	background: #83B3D3;
	width: 160px;
	height: 48px;
	border-radius: 4px;
	color:#ffffff;
	font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
	border-bottom-style: none;
	margin-bottom: 21px;
}

.filter-button--special {
	font-family: 'PT Sans';
	background: none;
	height: 23px;
	width: 160px;
	color: #ffffff;
	font-size: 18px;
	line-height: 23px;
	text-align: center;
	border: none;
	padding: 0;

}
/* section choose hotels*/
.choise-hotel {
	background-color: #FFFFFF;
	color:black;
}
.choise-hotel-list {
	display: flex;
	margin: 0 auto;
	list-style: none;
	box-sizing: border-box;
	width: 1057px;
	padding: 44px 0 0;
}

.choise-hotel-item {
	display: block;
}

hotel-item--select {
	width: 500px;
	display: block;
	margin-right: 20px;
	margin-left: 20px;
}

.select-choise {
	font-family: 'PT Sans';
	width: 287px;
	height: 46px;
	font-weight: 400;
	font-size: 18px;
	line-height: 23px;
	padding-left: 14px;
	padding-bottom: 3px;
}

.mode-list {
	width: 100%;
	display: flex;
	list-style: none;
	margin: 0;
	padding-left: 81px;
	/* padding-top: 25px; */
	gap: 8px;

}

.mode-item {

}

.mode-link  {
	width: 48px;
	height: 48px;
	border: 2px solid #E6E6E6;
	box-sizing: border-box;
	border-radius: 4px;
	position: relative;
	width: 48px;
	height: 48px;
	background: none;
	cursor: pointer;
}

.mode-link::after {
	content: "";
	background-repeat: no-repeat;
	background-position: top left;
	background-size: cover;
	display: block;
	width: 16px;
	height: 14px;
	left: 50%;
	top: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}

.mode-link--tile::after {
	background-image: url("../images/svg/mode-tile.svg");
}

.mode-link--line::after {
	background-image: url("../images/svg/mode-slideshow.svg");
}

.mode-link--dots::after {
	background-image: url("../images/svg/mode-list.svg");
}

.mode-link--active {
	border-color: #000000;
}

.search-result {
	font-weight: bold;
	font-size: 30px;
	line-height: 39px;
	text-transform: uppercase;
	margin: 0;
	padding-top: 4px;
	width: 529px;
}

.hotel-card-list {
	width: 1056px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0 auto;
	padding: 52px 0 0;
	width: 1056px;
}

.hotel-card-item {
	width: 340px;
	padding: 20px;
	box-sizing: border-box;
}

.hotel-card-item:not(:nth-child(3n+3)) {
	margin-right: 18px;
}

.hotel-card-description {
	display: flex;
	/* gap: 80px; */
	justify-content: space-between;
}

.hotel-card-title {
	font-weight: bold;
	font-size: 24px;
	line-height: 31px;
	color:black;
	margin:12px 0 0;
}

.hotel-card-paragraph {
	font-weight: normal;
	font-size: 18px;
	line-height: 18px;
	color: #333333;
	width: 141px;
	font-family: 'PT Sans';
	padding-top: 1141;
	padding-top: 2px;
}

.search-result-number {
	font-weight: normal;
	font-size: 18px;
	line-height: 18px;
	color: #333333;
	width: 228px;
	font-family: 'PT Sans';
}

.hotel-card-button {
  display: flex;
  justify-content: space-between;
}

.card-button {
  background: #756257;
  border-radius: 4px;
  width: 133px;
  height: 37px;
  text-decoration: none;
  color: #ffffff;
  padding: 9px 0 10px 0;
  box-sizing: border-box;
}

.blue-button {
	font-family: 'PT Sans';
	background: #83B3D3;
	border-radius: 4px;
	width: 141px;
	height: 37px;
	border: none; 
	outline: none;
	color: #ffffff;
	padding: 9px 0px 10px 0px;
	cursor: pointer;
}

.hotel-card-rating {
	display: flex;
	margin: 16px 0 11px 0;
	justify-content: space-between;
}

.rating {
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	text-transform: uppercase;
	color: #333333;
	background: #F2F2F2;
	border-radius: 4px;
	width: 160px;
	height: 37px;
	text-align: center;
	padding: 9px 0 10px 0;
  box-sizing: border-box;
	margin: 0;
}

.stars {
	width: 91px;
	height: 17px;
	margin: 0 50px 0 0;
	padding-top: 11px;


}

.stars::after {
	content: ""; 
	background: url("../images/svg/star.svg") space 0 0;
	height: 100%;
	display: block;
}

.four-stars {
  width: 29%;
}

.three-stars{
  width: 23%;
}

.two-stars {
	width: 15%;
}

/*кнопка "Загрузить ЕЩЕ"*/
.button-compartment {
	width: 1055px;
	height: 120px;
	padding: 0;
	position: relative;
	border: 1px solid #E6E6E6;
	margin-top: 22px;
	left: 71px;
	border-left: 0;
	border-right: 0;

}
.download-options {
		font-family: 'PT Sans';
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    background-color: #83B3D3;
    color: #FFFFFF;
    width: 620px;
    height: 60px;
    border-style: none;
    border-radius: 4px;
    position: absolute;
    top: 30px;
    left: 218px;

}

/*Пагинация*/
.pagination-section {
	margin: 0 auto;
	display: flex;
	width: 1056px;
	/* margin: 30px 72px 0 72px; */
	padding-top: 27px;
}

.pagination-list {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 670px;
	padding-top: 1px;
}

.pagination-item {
	width: 55px;
	height: 55px;
	background-color: #83B3D3;
	color: #FFFFFF; 
	border-radius: 4px;
	margin-right: 8px;
	padding: 13px 22px;
	box-sizing: border-box;
}


.pagination-link {
	font-family: 'PT Sans';
	font-weight: 700;
	font-size: 20px;
	line-height: 26px; 
}

.pagination-disabled {
	background-color: #F2F2F2;
	color: black;
}

.select-control {
	border: 2px solid #E6E6E6;
	box-sizing: border-box;
	border-radius: 4px;
	width: 160px;
	height: 48px;
	background-color: #ffffff;
	padding-left: 12px;
}

.number-per-page {
	font-weight: 400;
	font-size: 18px;
	line-height: 23px;
}
.modal-window {
	width: 715px;
	height: 561px;
	position: absolute;
	left:50%;
	top:50%;
	background: #FFFFFF;
	box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
	border-radius: 30px;
	transform: translate(-50% -50%);
	padding: 63px 70px 20px 70px ;
	box-sizing: border-box;
	display: none;
}

.modal-title {
	font-weight: 700;
	font-size: 30px;
	line-height: 40px;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

.modal-label {
	font-weight: 700;
	font-size: 18px;
	line-height: 40px;
	margin: 0;
	width: 143px;
	display: inline-block;
}

.modal-input {
	font-weight: 700;
	font-size: 1px;
	line-height: 40px;
	font-family: "PT Sans", "Arial", sans-serif;
	background: #F2F2F2;
	border-radius: 4px;
	width: 420px;
	height: 50px;
	border: none;
	padding-left: 23px;
	margin: 0;
	box-sizing: border-box;
}

.modal-input--container {
	width: 133px;
	height: 50px;
	display: flex;
}

.modal-input--short {
	font-family: "PT Sans", "Arial", sans-serif;
	width: 44px;
	font-weight: 700;
	font-size: 18px;
	line-height: 40px;
	background: #F2F2F2;
	border: none;
	box-sizing: border-box;
	padding-left: 17px;
	display: block;
}

.modal-input-button {
	display: block;
	width: 44px;
	border-style: none;
	background: #F2F2F2;
	position: relative;
}

.modal-input-button.minus::before {
	content: "";
	width: 1px;
	height: 13px;
	background: #000000;
	opacity: 0.3;
	transform: rotate(-90deg);
	display: block;
	position: absolute;
	left: 22px;
	top: 19px;
}

.modal-input-button.plus::before {
	content: "";
	width: 13px;
	height: 13px;
	background: #000000;
	opacity: 0.3;
	transform: rotate(-90deg);
	display: block;
	position: absolute;
	left: 22px;
	top: 19px;
}

.modal-error {
	font-weight: 400;
	font-size: 16px;
	line-height: 40px;
	color: red;
	margin: 0;
	line-height: 24px;
	margin-bottom: 16px;
}

.modal-message {
	font-weight: 400;
	font-size: 16px;
	line-height: 40px;
	margin: 0;
	line-height: 24px;
	margin-bottom: 16px;
}

.visuai-frame {
	display: flex;
	margin-bottom: 59px;
}

.close-button {
	width: 53px;
  height: 53px;
  background: #F2F2F2;
  border-radius: 28px;
  border: none;
	position: absolute;
	left: 592px;
	top: 48px;
}

.close-button::after {
    content: "";
    background: url(../images/svg/cross.svg);
    display: block;
    width: 13px;
    height: 13px;
    left: 20px;
    top: 20px;
    position: absolute;
}

.modal-button {
	width: 575px;
	height: 60px;
	background: #83B3D3;
	border-radius: 10px;
	border: none;
	color: #ffffff;
	font-weight: 700;
	font-size: 20px;
	line-height: 40px;
	text-transform: uppercase;
	margin-top: 39px;
	padding-left: 9px;
}

.info-container {
	display: inline-block;
	vertical-align: top;
	position: relative;
}

.info-link {
	display: flex;
	width: 25px;
	height: 25px;
	background: #83B3D3;
	border-radius: 50%;
	color:#ffffff;
	text-decoration: none;
	justify-content: center;
	align-items: center;
	margin-left: -15px;
	margin-top: 10px;
}

.info-text {
	width: 256px;
	left: -129px;
	top: 50px;
	background: #333333;
	box-shadow: 0px 15px 30px rgb(0 0 0 / 30%);
	border-radius: 10px;
	position: absolute;
	box-sizing: border-box;
	padding: 19px 18px 24px 22px;
	color: #ffffff;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	display: none;
}

.info-text::before {
	content: "";
	background: #333333;
	width: 11px;
	height: 11px;
	position: absolute;
	display: block;
	left: 121px;
	top: -6px;
	transform: rotate(45deg);
}

.info-link:hover + .info-text {
	display: block;
}

.input-container {
 	width: 420px;
}

.modal-form-row {
	width: 100%;
	display: flex;
	justify-content: space-between;

}

.short-container {
	width: 288px;
	display: flex;
	justify-content: space-between;
}

.short-container--child {
	width: 230px;
}

.short-container--child .modal-label {
	width: 50px;
}

